h1 {
    color: rgb(230, 190, 27);
    text-align: center;
    background-color: rgba(47, 84, 155, 255);
    font-weight: 1000;
}

h2 {
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: small;
    font-weight: 1000;
}

body {
    background-color: black;
}

#starters_image_div {
    text-align: center;
}

#starters_image_div img {
    border: 5px solid rgba(47, 84, 155, 255);
    padding: 5px;
}

.list {
    color: white;
    font-size: 20px;
}

.each_pokemon_container {
    text-align: center;
}

.each_pokemon_container img {
    height: 150px;
}

#bulbasaur_container {
    color: white;
    background-color: rgb(144, 196, 140);
    font-family: 'Noto Sans Mono';
    padding: 10px;
    font-size: 25px;
    text-align: left;
}

#charmander_container {
    color: white;
    background-color: rgb(247, 168, 118);
    font-family: 'Noto Sans Mono';
    padding: 10px;
    font-size: 25px;
    text-align: left;
}

#squirtle_container {
    color: white;
    background-color: rgb(118, 202, 237);
    font-family: 'Noto Sans Mono';
    padding: 10px;
    font-size: 25px;
    text-align: left;
}

.pokemon_names {
    font-size: 30px;
}




